body {
    font-family: "Montserrat";
  }
#title {
    background-color: #95DAC1;
    color: #fff;
  }
/* container-fluid */
.container-fluid {
    padding: 3% 5% 7%;
  }

/* Navigation-bar  */
.navbar {
    padding: 0 0 .5rem;
  }
  .navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.2rem;
    font-weight: bold;
    
  }
  .navbar-nav
  {
      margin-left: 25%;
  }
  .nav-item {
    padding: 0 18px;

  }
  .nav-link {
    font-size: 1.5rem;
  }

  /* Title */
  h1 {
    font-family: "Montserrat-black";
    font-size: 5rem;
    line-height: 1;
    color: black; 
    text-align: center;
  }
  h3 {
    font-family: "Montserrat-Bold";
    font-weight: bold;
  }
  
  .headExtra
  {
      text-align: left;
      margin-left: 1rem;
  }
  .tagHeading
  {
    font-family: "Montserrat-black";
    font-size: 3.6rem;
  }
  .titlerow
  {
      margin-top: 5rem;
  }
  .title-img {
    width: 60%;
    position: absolute;
    margin-left: 45%;
  }


/* feature section */

#feature {
    padding: 7% 7%;
    background-color: #D5EEBB;
    position: relative;
  }
  .feature-box {
    text-align: center;
    padding: 2%;
  }
  .icon {
    color: #ef8172;
    margin-bottom: 1rem;
  }
  .icon:hover {
    color: red;
  }


  /* about */
  #about {
    padding: 7% 7%;
    background-color: #D9DD6B;
    position: relative;
  }
  .profile
  {
      border-radius: 50%;
      width: 12rem;
      height: 10rem;
  }
 
/* feedback */

#feedback {
    padding: 7% 7%;
    text-align: center;
    background-color: #ef8172;
    color: #fff;
  }
 
  .carousel-item {
    padding: 7% 15%;
  }

  
#cta
{
    padding: 7% 7%;
    text-align: center;
    background-color:#E4BAD4;
    color: #fff;
}
/* footer section */
#footer
{
    padding: 7% 7%;
    text-align: center;
    padding: 7% 15% ;
}
.social
{
    margin: 20px 10px;
    transition: transform .2s;
}
.social:hover
{
    transform: scale(1.5);
}


  @media (max-width: 1028px)
{
    #title
    {
        text-align: center;
    }
    .title-img{
        position: static; 
        margin-left: 25%; 
        margin-top: 2rem 0 2rem;
        
    }
    .navbar-brand
    {
        font-size: 1.2rem;
    }
    
    .headExtra
    {
   text-align: center;
    }
    
  
}